<section class="section_intro">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 first_part">
					<div></div>
				</div>
				<div class="col-md-6 second_part text-center pt-2 pb-3">
					<h1 class=".big_header">An App For All </h1>
					<p>
						FriendFone is a check-in & reminder application designed to target three areas Safety, Medical, and 
						Educational. Users sign up to receive an automated text at a specific date and time. The user then has five minutes to click the link and enter their pin. If they fail to do so, a FriendFone team member will reach out  via phone call. If the user fails to answer, the team member will follow a user selected escalation process. This can include calling a friend, campus security, emergency contacts, or anyone in between.
					</p>
					<a href="/home" class="btn btn-success big_button_link">
						Give Us A GO
					</a>
				</div>
			</div>
		</div>
	</section>