<section class="section_processes">
		<div class="full_container">
			<h1 class="big_header">A Three Step Process</h1>
			<div class="container">
				<div class="row justify-content-between parent">
					<div class="col-md-3 col-sm-12">
						<img src="https://mediaanduserfiles.s3.amazonaws.com/msg_sq99g1.svg" alt="message">
						<p>
							A text sent to the user to verify the pin
						</p>
					</div>
					<div class="col-md-3 col-sm-12">
						<img src="https://mediaanduserfiles.s3.amazonaws.com/phone_upqarb.svg" alt="phone">
						<p>
							We call the user if 
							pin is not verified withing five mintues
						</p>
					</div>
					<div class="col-md-3 col-sm-12" >
						<img src="https://mediaanduserfiles.s3.amazonaws.com/answer_ing1dy.svg" alt="answer">
						<p>
							If the user fails to answer,our team esclates the ATN
						</p>
					</div>
				</div>
			</div>
			<div class="btn_parent">
				<a href="/register?redirectfrom=<%= pathname %>" class="btn btn-success big_button_link">
					Try Us Out
				</a>
			</div>
		</div>
	</section>