<%- include ("../partials/header") %>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
	
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="/stylesheets/registeration.css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet"> 

<style>
	.form-signin{
		max-width: 500px;
	}
	label{
		color: white;
	}
	#datetimepicker1 > input{
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
	.input-group-addon > span{
		border-top-right-radius: 10px !important;
		border-bottom-right-radius: 10px !important;
		background-color: #941c99 !important;
		color: white !important;
	}
	textarea{
		height: 200px !important;
		background: transparent !important;
	  	color: transparent;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4 class="register mt-5">
				Create Note
			</h4>
			<form action="/notes" class="form-signin" method="POST" data-parsley-validate>
				<input type="hidden" id="user_id" name="user_id" value="<%= user_id %>">
				<div class="form-group">
				  <label for="name">Add A Note</label>
				  <textarea class="form-control" id="name" type="text" name="notes" 
						 placeholder="Note"></textarea>
				</div>
				
										
					<button type="submit" class="btn btn-success col-md-4 my-3">Create</button>
					
				
			</form>
		</div>
	
	</div>	
</div>
		

    <!-- JavaScript -->
    
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	  
<%- include ("../partials/newFooter") %>