<div class="modal fade" id="learnMoreModal" tabindex="-1" aria-labelledby="learnMoreModallLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <div style="text-align:center;" class="form_container">
            <form action="/support" method="POST">
              <input type="text" name="name"  placeholder="Your Full Name" required>
              <br>
              <input type="text" name="phoneForLearnMore" placeholder="Your Phone Number" required>
              <br>
              <input type="text" name="emailForLearnMore" placeholder="Your Email" required>
              <br>
              <input type="text" name="organization" placeholder="Your Organization Name" required>
              <br>
              <input type="text" name="website" placeholder="Your Website Name">
              <br>
              <input type="text" name="page_name" style="display:none" >

              <button class="btn btn-success form_big_button_link" type="submit">
                Send
              </button>     
              
            </form>
          </div>
      </div>
    </div>
  </div>
</div>