<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Friend Fone | An Education & Medical Software</title>
		<link
			rel="icon"
			type="image/svg"
			href="https://mediaanduserfiles.s3.amazonaws.com/favicon_qgcraf_v6duoh.svg"
		/>

	</head>
	<body>
		<form method="POST" action="/image-test" enctype="multipart/form-data" >
			<input type="file" name="image" required>
			<br>
			<input type="text" name="one">
			<br>
			<input type="text" name="two">
			<br>
			<input type="text" name="three">
			<br>
			<input type="text" name="four">
			<br>
			<input type="text" name="five">
			<br>
			<input type="text" name="six">
			<br>
			<input type="text" name="seven">
			<br>
			<input type="text" name="eight">
			<br>
			<button type="submit">submit</button>
		</form>
	</body>
	</html>